{{define "base"}}
    <!DOCTYPE html>
    <html>
        <head>
            {{block "title" .}}
            {{end}}
            <!--===============================================================================================-->
            <link rel="icon" type="image/png" href="../static/images/icons/favicon_io/favicon.ico" />
            
            {{block "css" .}}
            {{end}}
        </head>
        <body>
            {{block "content" .}}
            {{end}}
            
            {{block "js" .}}
            {{end}}
        </body>
    </html>
{{end}}