<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body>
    <h2>This is signup page</h2>
    <form action="/login">
        <label for="">First Name</label>
        <input type="text" name="first_name" id="first_name">

        <label for="">Last Name</label>
        <input type="text" name="last_name" id="last_name">

    
        <label for="">First Name</label>
        <input type="text" name="first_name" id="first_name">

        <label for="">Last Name</label>
        <input type="text" name="last_name" id="last_name">
    </form>
</body>
</html>